<div class="bl-fs-container">
    <a class="add-btn"href="/home/new_destination"><p class="add-btn-txt">+</p></a>
<div class="countries-head">
  <h1 class="page-title">All Destinations</h1>
</div>
<div class="countries-container">
  <% @destination.each do |destination| %>
  <div class="country-container">
    <h3><a class="country-title"><%= destination.name.capitalize %></a></h3>
    <p><%= destination.description %></p>
    <div class="country-btn-container">
    <form action="/home/<%= destination.id %>/delete_destination" method="POST"><input class="function-btn" type="submit" value="Delete"></form>
    <form action="/home/<%= destination.id %>/edit_destination"><input class="function-btn" type="submit" value="edit"></form>
    </div>
  </div>
  <% end %>
</div>
</div>
