<html>
<head>
  <link rel="stylesheet" href="/styles/country-style.css">
  <link rel="stylesheet" href="/styles/nav-style.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Prata&display=swap" rel="stylesheet">
</head>

<body>
  <div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      Witty Name
    </div>
  </div>

  <div class="nav-links">
    <a href="/home">Home</a>
    <a href="/home/visited_countries">Countries Visited</a>
    <a href="/home/bucket_list_countries">Bucket List Countries</a>
    <a href="/home/all_countries">All Countries</a>
    <a href="/home/all_cities">All Cities</a>
  </div>
</div>
  <%= yield %>
</body>
</html>
