<h1>TravelApp</h1>

<a href="/home/new_country">Add New Country</a> <br>
<a href="/home/new_city">Add New City</a> <br>
<a href="/home/all_countries">All Countries</a> <br>
<a href="/home/all_cities">All Cities</a> <br>
<a href="/home/bucket_list_countries">Bucket List Countries</a> <br>
<a href="/home/bucket_list_cities">Bucket List Cities</a> <br>
