<h1 class="page-title" >New City</h1>
<form method="POST" action="/home/new_city">
  <div class="form-wrapper">

    <div>
      <label for="name">City Name</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div>
      <label for="description">Description</label>
      <input type="text" name="description" id="description"/>
    </div>

    <select name="country_id">
      <% for country in @countries %>
      <option value="<%= country.id %>"><%= country.name %></option>
      <% end %>
      </select>

    <div>
      <label for="visited_select">visited before?:</label>
      <select name="visited" id="visited_select">
          <option id="visited" value= 'yes'>yes</option>
          <option id="visited" value= 'no'>no</option>
      </select>
    </div>

    <div>
      <input type="submit" value="Add City"/>
    </div>
  </div>
</form>
