<h1>Cities Visited in <%= @country.name %></h1>
<div class="countries-container">
  <% @cities.each do |city| %>
  <div class = "country-container">
    <h3><%= city['name']%></h3>
  </div>
  <% end %>
</div>
