.add-btn{
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  margin-left: 15px;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.page-title{
  color: grey;
  font-family: 'Prata', serif;
}
